<md-card ng-if="$ctrl.character">
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{$ctrl.getAvatar($ctrl.character.thumbnail)}}"/>
        </md-card-avatar>
        <md-card-header-text>
        <span class="md-title">{{$ctrl.character.name}}</span>
        <span class="md-subhead">{{$ctrl.character.id}}</span>
        </md-card-header-text>
    </md-card-header>
    <img ng-src="{{$ctrl.getCharacterImage($ctrl.character.thumbnail)}}" class="md-card-image">
    <md-card-content>
        <p>{{$ctrl.character.description}}</p>
    </md-card-content>
    <md-card-actions>
        <md-button ng-repeat="url in $ctrl.character.urls" ng-href="{{url.url}}" target="_blank">{{url.type | uppercase}}</md-button>
        <md-button ng-if="$ctrl.character.urls === undefined" ng-href="{{$ctrl.getCharacterLink($ctrl.character)}}" target="_blank">DETAILS</md-button>
    </md-card-actions>
</md-card>
