.md-icon-button img {
    width: 24px;
    height: 24px;
}

md-icon.fa {
    font-size: 1.8em;
}

md-grid-list {
    margin: 16px;
    padding-bottom: 0 !important;
}

md-grid-tile {
    border: 10px solid black;
}