<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Logo" href="https://www.meetup.com/Angular-Athens/" target="_blank">
      <img src="assets/Angular-Athens.jpeg">
    </md-button>

    <h2 flex md-truncate>{{vm.title}}</h2>

    <md-button class="md-icon-button" aria-label="Assignment" ui-sref="quiz">
      <md-icon>assignment</md-icon>
    </md-button>

    <md-button class="md-icon-button" aria-label="Github" href="https://github.com/bampakoa/angular-athens-demo" target="_blank">
      <md-icon class="fa fa-github"></md-icon>
    </md-button>
  </div>
</md-toolbar>
