<md-progress-linear md-mode="indeterminate" ng-if="$ctrl.showProgress"></md-progress-linear>
<md-content flex layout-padding class="content">
    <div layout="column">
        <div class="search">
            <md-input-container>
                <input placeholder="Search for characters..." ng-change="$ctrl.search(term)" ng-model="term" ng-model-options="{debounce: 1000}">
            </md-input-container>
        </div>
        <md-grid-list md-cols="4" md-row-height="250px" md-on-layout="$ctrl.isVisible = true" ng-show="$ctrl.isVisible">
            <md-grid-tile ng-repeat="character in $ctrl.characters">
                <nga-character-card character="character" on-select="$ctrl.selectCharacter(character)"></nga-character-card>
            </md-grid-tile>
        </md-grid-list>
        </div>
    </div>
</md-content>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="sidebar">
    <md-content layout-padding>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Details">
                    <nga-character-detail [character]="$ctrl.selectedCharacter"></nga-character-detail>
                </md-tab>
                <md-tab label="Comics">
                    <nga-comic-list ng-if="$ctrl.selectedCharacter" character="$ctrl.selectedCharacter"></nga-comic-list>
                </md-tab>
            </md-tabs>
    </md-content>
</md-sidenav>
