@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.md-icon-button img {
  width: 24px;
  height: 24px;
}

md-icon.fa {
  font-size: 1.8em;
}

.content {
  background-image: url('assets/background.png');
}

md-toolbar {
  z-index: 0;
}
