.md-icon-button img {
  width: 24px;
  height: 24px;
}

md-icon.fa {
  font-size: 1.8em;
}

md-grid-list {
  margin: 16px;
  padding-bottom: 0 !important;
}

md-grid-tile-footer h3 {
  font-size: 16px !important;
}

.characterImage {
  width: 459px;
  height: 240px;
  border: 10px solid black;
}

figcaption {
  width: 100%;
}

md-input-container {
  margin: 55px 25px 25px 65px;
  width: 200px;
}

.content {
  background-image: url('assets/background.png');
}

.search {
  background-image: url('assets/search-bar.png');
  background-repeat: no-repeat;
  background-size: 320px 50px;
  background-position-x: 20px;
  background-position-y: 36px;
}

md-sidenav,
md-backdrop {
  position: fixed;
}

md-sidenav {
  min-width: 370px;
}

.actions {
  padding-top: 15px;
  padding-bottom: 15px;
}

nga-quiz nga-character-detail {
  flex: 0 0 25% !important;
}

md-list-item {
  border: rgb(63,81,181) solid;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
}
